
/** Step0 TYPOGRAPHY **/

// Fonts

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Play:400,700&display=swap&subset=latin-ext');

// Styles

body, input, button, textarea {
  font-family: "Open Sans", "Arial";
  font-size: 16px;
  line-height: 1.5;
}

.s0-title-1 {
  font-family: "Play", "Open Sans", "Arial";
  font-size: 4rem;
  font-weight: 700;
  color: var(--s0-color-gray-90p);
}
