
/** Step0 VARIABLES **/

:root {
  --s0-color-white: #ffffff;
  --s0-color-primary: #40acb6;
  --s0-color-secondary: #e8423b;
  --s0-color-tertiary: #e8ad3b;
  --s0-color-success: #40acb6;
  --s0-color-warning: #e8ad3b;
  --s0-color-danger: #e8423b;

  --s0-color-gray-3p: #f7f7f7;
  --s0-color-gray-6p: #efefef;
  --s0-color-gray-10p: #e5e5e5;
  --s0-color-gray-20p: #cccccc;
  --s0-color-gray-30p: #b2b2b2;
  --s0-color-gray-40p: #999999;
  --s0-color-gray-50p: #7f7f7f;
  --s0-color-gray-60p: #666666;
  --s0-color-gray-70p: #4c4c4c;
  --s0-color-gray-80p: #333333;
  --s0-color-gray-90p: #191919;

  --s0-font-size-1: .75rem; // 12px
  --s0-font-size-2: .8125rem; // 13px
  --s0-font-size-3: .875rem; // 14px
  --s0-font-size-4: 1rem; // 16px

  --s0-margin-1: .25rem; // 4px
  --s0-margin-2: .5rem; // 8px
  --s0-margin-3: .75rem; // 12px
  --s0-margin-4: 1rem; // 16px
  --s0-margin-5: 1.5rem; // 24px
  --s0-margin-6: 2rem; // 32px
  --s0-margin-7: 2.5rem; // 40px
  --s0-margin-8: 3rem; // 48px

  --s0-padding-1: .25rem; // 4px
  --s0-padding-2: .5rem; // 8px
  --s0-padding-3: .75rem; // 12px
  --s0-padding-4: 1rem; // 16px
  --s0-padding-5: 1.5rem; // 24px
  --s0-padding-6: 2rem; // 32px
  --s0-padding-7: 2.5rem; // 40px
  --s0-padding-8: 3rem; // 48px
}
