.s0-text-input {
  background-color: var(--s0-color-white);
  color: var(--s0-color-gray-60p);
  font-size: var(--s0-font-size-2);
  width: 100%;
  height: 38px;
  display: block;
  border: 1px solid var(--s0-color-gray-6p);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0 var(--s0-padding-3);
  outline: none;

  &::placeholder {
    color: var(--s0-color-gray-20p);
  }

  &:not(.s0-text-input--invalid):focus {
    border-color: var(--s0-color-gray-20p);
  }
}

.s0-text-input--invalid {
  border: 1px solid var(--s0-color-danger);
}

.s0-text-input--size-sm {
  width: 50px;
}

.s0-text-input--size-md {
  width: 100px;
}
